html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

footer {
  margin-top: auto; /* Pushes footer to the bottom */
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  font-size: 0.75rem;
  font-weight: lighter;
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
